@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HU:wght@100..400&family=Playwrite+PL:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*fonts*/
@font-face {
  font-family: 'Chirp';
  src: url('/src/assets/fonts/Chirp-Bold.ebb56aba.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Chirp';
  src: url('/src/assets/fonts/Chirp-Heavy.f44ae4ea.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Chirp';
  src: url('/src/assets/fonts/Chirp-Medium.f8e2739a.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chirp';
  src: url('/src/assets/fonts/Chirp-Regular.80fda27a.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #b9cad3;
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* background-color: #e5e7eb; */
  background-color: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

/*loại bỏ autofill của trình duyệt*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset !important; 
  -webkit-text-fill-color: #ffffff !important; 
  transition: background-color 5000s ease-in-out 0s; 
}
